<div data-hook='alcoholic_product_notify'>
  <% if line_item.alcoholic? %>
    <span class="help-block small red-coloured"><i>(<%= Spree.t(:alcoholic_product_notify) %>)</i></span>
  <% end %>
</div>
