<div data-hook="alcoholic_taxon_form">
  <%= f.field_container :alcoholic, class: ['form-group'] do %>
    <%= f.check_box :alcoholic %>
    <%= f.label :alcoholic, Spree.t(:alcoholic) %>
  <% end %>
</div>
