<div data-hook="has_alcoholic_products_taxon_form">
  <%= f.field_container :has_alcoholic_products, class: ['form-group'] do %>
    <%= f.check_box :has_alcoholic_products %>
    <%= f.label :has_alcoholic_products, Spree.t(:alcoholic_products_category) %>
  <% end %>
</div>
